<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="nlpServerConf">
            <h2><span jhiTranslate="indexerApp.nlpServerConf.detail.title">Nlp Server Conf</span> {{nlpServerConf.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="indexerApp.nlpServerConf.url">Url</span></dt>
                <dd>
                    <span>{{nlpServerConf.url}}</span>
                </dd>
                <dt><span jhiTranslate="indexerApp.nlpServerConf.port">Port</span></dt>
                <dd>
                    <span>{{nlpServerConf.port}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/nlp-server-conf', nlpServerConf.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
