<div>
    <h2 id="page-heading">
        <span jhiTranslate="indexerApp.article.home.title">Articles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-article" [routerLink]="['/article/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="indexerApp.article.home.createLabel">
            Create a new Article
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'indexerApp.article.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="articles?.length === 0">
        <span jhiTranslate="indexerApp.article.home.notFound">No articles found</span>
    </div>
    <div class="table-responsive" *ngIf="articles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="author"><span jhiTranslate="indexerApp.article.author">Author</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="title"><span jhiTranslate="indexerApp.article.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="description"><span jhiTranslate="indexerApp.article.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="url"><span jhiTranslate="indexerApp.article.url">Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="urlToImage"><span jhiTranslate="indexerApp.article.urlToImage">Url To Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="publishedAt"><span jhiTranslate="indexerApp.article.publishedAt">Published At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="category"><span jhiTranslate="indexerApp.article.category">Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="content"><span jhiTranslate="indexerApp.article.content">Content</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="countryCode"><span jhiTranslate="indexerApp.article.countryCode">Country Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="languageCode"><span jhiTranslate="indexerApp.article.languageCode">Language Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="sentiment"><span jhiTranslate="indexerApp.article.sentiment">Sentiment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="textReadability"><span jhiTranslate="indexerApp.article.textReadability">Text Readability</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="numberOfParts"><span jhiTranslate="indexerApp.article.numberOfParts">Number Of Parts</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="newsApiCategory.name"><span jhiTranslate="indexerApp.article.newsApiCategory">News Api Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="source.name"><span jhiTranslate="indexerApp.article.source">Source</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let article of articles ;trackBy: trackId">
                <td><a [routerLink]="['/article', article.id, 'view' ]">{{article.id}}</a></td>
                <td>{{article.author}}</td>
                <td>{{article.title}}</td>
                <td>{{article.description}}</td>
                <td>{{article.url}}</td>
                <td>{{article.urlToImage}}</td>
                <td>{{article.publishedAt}}</td>
                <td>{{article.category}}</td>
                <td>{{article.content}}</td>
                <td>{{article.countryCode}}</td>
                <td>{{article.languageCode}}</td>
                <td>{{article.sentiment}}</td>
                <td>{{article.textReadability}}</td>
                <td>{{article.numberOfParts}}</td>
                <td>
                    <div *ngIf="article.newsApiCategory">
                        <a [routerLink]="['/news-api-category', article.newsApiCategory?.id, 'view' ]" >{{article.newsApiCategory?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="article.source">
                        <a [routerLink]="['/source', article.source?.id, 'view' ]" >{{article.source?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/article', article.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/article', article.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/article', { outlets: { popup: article.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="articles?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
