<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-lingo-token-heading" jhiTranslate="indexerApp.lingoToken.home.createOrEditLabel">Create or edit a Lingo Token</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="indexerApp.lingoToken.text" for="field_text">Text</label>
                    <input type="text" class="form-control" name="text" id="field_text"
                           formControlName="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="indexerApp.lingoToken.blankText" for="field_blankText">Blank Text</label>
                    <input type="text" class="form-control" name="blankText" id="field_blankText"
                           formControlName="blankText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="indexerApp.lingoToken.lingoOrder" for="field_lingoOrder">Lingo Order</label>
                    <input type="number" class="form-control" name="lingoOrder" id="field_lingoOrder"
                           formControlName="lingoOrder"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="indexerApp.lingoToken.posTag" for="field_posTag">Pos Tag</label>
                    <input type="text" class="form-control" name="posTag" id="field_posTag"
                           formControlName="posTag"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="indexerApp.lingoToken.lemma" for="field_lemma">Lemma</label>
                    <input type="text" class="form-control" name="lemma" id="field_lemma"
                           formControlName="lemma"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="indexerApp.lingoToken.nerTag" for="field_nerTag">Ner Tag</label>
                    <input type="text" class="form-control" name="nerTag" id="field_nerTag"
                           formControlName="nerTag"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
